#backgroundimage {
  background-position: center; 
  background-image: url('../img/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  background: rgba(255,255,255,0.9);
  border-radius: 3px;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }


@font-face {
	font-family: cool;
	src: url("Chunkfive.otf") format("opentype");
}

.loginheader{
	font-size: 50pt;
	text-align: center;
	font-family: 'cool', Helvetica, Verdana, Sans-Serif;
	color: white;
}