body {

	height: 720px !important;
	min-height: 720px !important;
	width: 1280px !important;
	overflow: hidden;
	border: solid 1px;
}

#backgroundimage {
  background-position: center; 
  background-image: url('../img/beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.tweettrip{
  color: #4099FF;
}
.dreamimage {
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  
}


section {
  background: rgba(255,255,255,0.9);
  border-radius: 3px;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

@font-face {
	font-family: cool;
	src: url("Chunkfive.otf") format("opentype");
}

.loginheader{
	font-size: 50pt;
	text-align: center;
	font-family: 'cool', Helvetica, Verdana, Sans-Serif;
	color: white;
}

.profile-avatar {
   border-radius: 50%;
}

.not-achieved {
     -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
       -ms-filter: grayscale(100%);
           filter: grayscale(100%); 
}


.badgesize {
    width: 150px;
    height: 150px
}