
<div ng-Controller="DreamlistController" layout="row" layout-wrap layout-align="center start">
<md-card ng-repeat="dream in dreams" style="width:300px">
  <div ng-style="{'background-image': 'url(' + dream.imagePath + ')'}" class="md-card-image dreamimage" alt="Image not Found!" layout="row" layout-align="center center">
  <i ng-if="dream.visited == 'true'" class="fa fa-check fa-4x"/>

  </div>
  <md-card-content>
    <h2 class="md-title">{{dream.title}}</h2>
    <p class="desc_hover">
      {{dream.content}}
    </p>
  </md-card-content>

  <div flex> </div>

  <md-card-actions layout="row" layout-align="center end">

          <md-button ng-if="dream.visited == 'false'"class="md-primary">Book Now</md-button>
          <i ng-if="dream.visited == 'true'" class="fa fa-twitter fa-2x tweettrip"/>      

  </md-card-actions>
</md-card>

</div>