
<div layout="row" layout-wrap layout-align="center start">
<md-card ng-repeat="dream in dreams" style="width:300px; height:600px; overflow-y: scroll;">
  <div ng-style="{'background-image': 'url(' + dream.imagePath + ')'}" class="md-card-image dreamimage" alt="Image not Found!" layout="row" layout-align="center center">
  <i ng-if="dream.visited == 'true'" class="fa fa-check fa-4x"/>
  </div>
  <md-card-content>
    <h2 class="md-title">{{dream.title}}</h2>
    <p class="desc_hover">
      {{dream.content}}
    </p>
  </md-card-content>

  <div flex> </div>

  <md-card-actions layout="row" layout-align="center end">

          <md-button ng-if="dream.visited == 'false'"class="md-primary">Book Now</md-button>
          <md-button ng-if="dream.visited == 'true'"class="fa fa-twitter fa-2x tweettrip" href="https://twitter.com/intent/tweet?text=Took%20a%20trip%20to%20my%20dream%20destination&hashtags=dreambox,emirates,checkoutmydreams,emiratestravelhackathon&url=http%3A%2F%2F127.0.0.1%3A9000%2F%23%21%2Fdreamlist"></md-button>

  </md-card-actions>
</md-card>

</div>
