<div ng-Controller="MapController">
    <world-map flex world-data="worldData" value-range="valueRange" color-range="colorRange" dimension="dimension" map-width="mapWidth" descriptive-text="descriptiveText" country-fill-color="countryFillColor" country-border-color="countryBorderColor"></world-map>
    <div  layout="column" layout-align="end end" style="position:fixed; top:580px; width:100%">
        <div layout="row"><div style="width:10px; height:10px; background-color:#11aa33"></div><span>I already have been there</span></div>
        <div layout="row"><div style="width:10px; height:10px; background-color:#0499f2"></div><span>My dreams</span></div>
    </div>
</div>