<md-dialog aria-label="awesomness" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{adventure.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Travel to {{adventure.title}} and achieve {{adventure.dreams.length}} dreams</h2>
                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="{{adventure.imagePath}}">
                <div>
<!--
                    <p>Notify when price drops under </p>
                    <md-input-container class="md-icon-float md-icon-right md-block">
                        <div flex="20" layout="row">
                            $<input ng-model="adventure.price" type="number" step="20" flex>
                        </div>
-->
                </div>
                </md-input-container>
                <h2>Items from your dreamlist</h2>
                <div ng-repeat="item in adventure.dreams">
                <p>{{item}}</p>
                
                </div>
                
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Activate Notifications
            </md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>